development: &defaults
  connection:
    access_key_id: YOUR_ACCESS_KEY_ID
    secret_access_key: YOUR_SECRET_ACCESS_KEY
    use_ssl: true
  # :persistent: true
  music_bucket: YOUR_MUSIC_BUCKET
  max_file_size: 10485760
  acl: public-read

test:
  <<: *defaults
  # bucket: project-development

staging:
  <<: *defaults
  # bucket: project-staging

production:
  <<: *defaults
  # prefix is optional. This is where you would put your CloudFront Domain
  # Name or your CloudFront CNAME if you have one configured.
  # prefix: "http://project.s3.mydomain.com"
  # bucket: project